{% extends 'base.html' %}
{% block title %}<title>detail publisher</title>{% endblock %}
{% block content %}
<h1>detail publisher</h1>
    <p>number order - {{publisher.name}}</p>
    <p>book - {{publisher.address}}</p>
    <p>student - {{publisher.city}}</p>
    <p>date_s - {{publisher.state_province}}</p>
    <p>date_e - {{publisher.country}}</p>
    <p>date_d - {{publisher.website}}</p>
    <h2>Libros de la Editorial: {{publisher.name}}</h2>
    <p>Numero de libros:{{num_book}}</p>
    {% for publisher in book_list %}
    <li>Libro: {{ publisher.name }}</li>
    <li>Paginas: {{ publisher.pages }}</li>
    <li>Precio: {{ publisher.price }}</li>
    <br>
    {% endfor %}
<a href="{% url 'list_publisher' %}">Back</a>
{% endblock %}

