{% extends 'base.html' %}
{% block title %}Detail publisher{% endblock %}
{% block content %}
    <h1>Detail publisher</h1>
    <p>Number order: {{ publisher.name }}</p>
    <p>Book: {{ publisher.address }}</p>
    <p>Student: {{ publisher.city }}</p>
    <p>Date_s: {{ publisher.state_province }}</p>
    <p>Country: {{ publisher.country }}</p>
    <p>Web site: {{ publisher.website }}</p>
    <h2>Books of the publisher: {{ publisher.name }}</h2>
    <p>Number of books: {{ num_book }}</p>
    {% for publisher in book_list %}
        <li>Book name: {{ publisher.name }}</li>
        <li>Pages: {{ publisher.pages }}</li>
        <li>Price: {{ publisher.price }}</li>
        <br>
    {% endfor %}
    <a href="{% url 'list_publisher' %}">Back</a>
{% endblock %}

