{% extends 'base.html' %}
{% block title %}List Student{% endblock %}
{% block content %}
    <h1>List of student</h1>
    <a href="{% url 'create_student' %}">Create</a><br>
    {% for student in students %}
        <a href="{% url 'detail_student' student.pk %}">
            {{ student.pk }} - {{ student.first_name }} {{ student.last_name }}<br>
        </a>
        <a href="{% url 'update_student' student.pk %}">Edit</a><br>
        <a href="{% url 'delete_student' student.pk %}">Delete</a><br><br>
    {% endfor %}
{% endblock %}
