{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/store_list.css' %}">{% endblock %}
{% block title %}List store{% endblock %}
{% block content %}
    <h1>List Store</h1>
    <a href="{% url 'create_store' %}">Create</a><br>
    <table style="width:30%">
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for store in stores %}
            <tr>
                <td><a href="{% url 'detail_store' store.pk %}">
                    {{ store.pk }} - {{ store.name }}
                </a></td>
                <td><a href="{% url 'update_store' store.pk %}">Edit</a></td>
                <td><a href="{% url 'delete_store' store.pk %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
