{% extends 'base.html' %}
{% block title %}List Book{% endblock %}
{% block content %}
    <h2>Total of books: {{ total_books }}</h2>
    <p>Average price: {{ average_price }}</p>
    <p>Maximum price: {{ price_max }}</p>
    <p>Minimal price: {{ price_min }}</p>
    <p>Mexican price difference with the average: {{ dif_price }}</p>

    <h1>Lista de book</h1>
    <a href="{% url 'create_book' %}">Create</a><br>
    {% for book in books %}
        <a href="{% url 'detail_book' book.pk %}">
            {{ book.pk }} - {{ book.name }}<br>
        </a>
        <a href="{% url 'update_book' book.pk %}">Editar</a><br>
        <a href="{% url 'delete_book' book.pk %}">Delete</a><br><br>
    {% endfor %}

    <h2>Libros de la editorial Rama</h2>
    <p>Total de libros de la editorial Rama: {{ books_publisher }}</p>
    {% for book_rama in books_rama %}
        <p>Nombre: {{ book_rama.name }}</p>
    {% endfor %}
{% endblock %}
